data/PetImages/
data/*.zip
data/*.pth

# Python cache
__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/
*.egg-info/
dist/
build/

# Environments
.env
.venv
venv/
env/

# OS
.DS_Store
Thumbs.db

# Jupyter
.jupyter/
